/* General */

body{
  font-family: 'Roboto', sans-serif;
  /* background: grey; */
  height: 5000px;
  padding-top: 80px;
}



/* utility */

.btn_white{
  color: #0069ff;
  border-color: #0069ff;
  margin: 0 5px;
}

.btn_blue{
  background: #579aff;
  color: white;
}






/* header */
/* header nav menu */


#header_nav .nav_menu{
  background: white;
  line-height: 80px;
}

#header_nav .row{
  padding: 0 15px;
}

#header_nav .row img{
  vertical-align: middle;
  width: 150px;
  margin-bottom: 7px;
}

#header_nav .nav a{
  padding: 0 10px;
  line-height: 80px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

#header_nav .navbar-right{
  margin: 0;
}

.hamburger{
  font-size: 45px;
  vertical-align: middle;
}



/* jumbotron */

#jumbotron{
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 300px; */
  padding: 45px 0;
}

#jumbotron .info_jumbotron{
  color: white;
  padding: 20px 0;
}

#jumbotron .info_jumbotron h1{
  font-size: 55px;
  margin: 0;
}

#jumbotron .info_jumbotron p{
  font-size: 20px;
  color: #bcd7ff;
}

#jumbotron .create_account{
  background: white;
  padding: 5px 20px;
  border-radius: 5px;
}

#jumbotron .create_account h2{
  font-weight: bold;
}

#jumbotron .create_account h2:nth-child(2){
  color: #0069ff;
  padding-bottom: 10px;
}

#jumbotron .create_account input{
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 0;
}

#jumbotron .create_account  input::-webkit-input-placeholder{
  font-weight: 500;
}

#jumbotron .create_account button{
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 8px 0;
}

#jumbotron .create_account img{
  width: 20px;
  margin: 0 10px;
  float: left;
}

#jumbotron .create_account .btn span{
  margin-right: 40px;
  font-weight: bold;
}

#jumbotron .create_account h5{
  font-size: 15px;
  padding: 15px;
  font-weight: bold;
}

#jumbotron .create_account h5 a{
  text-decoration: underline;
}








/*  */
