/* General */

body{
  font-family: 'Roboto', sans-serif;
  /* background: grey; */
  height: 5000px;
  padding-top: 80px;
}



/* utility */

.btn_white{
  color: #0069ff;
  border-color: #0069ff;
  margin: 0 5px;
}

.btn_blue{
  background: #579aff;
  color: white;
}






/* header */
/* header nav menu */


#header_nav .nav_menu{
  background: white;
  line-height: 80px;
}

#header_nav .row{
  padding: 0 15px;
}

#header_nav .row img{
  vertical-align: middle;
  width: 150px;
  margin-bottom: 7px;
}

#header_nav .nav a{
  padding: 0 10px;
  line-height: 80px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

#header_nav .navbar-right{
  margin: 0;
}

.hamburger{
  font-size: 45px;
  vertical-align: middle;
}



/* jumbotron */

#jumbotron{
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 300px; */
  padding: 45px 0;
}

#jumbotron .info_jumbotron{
  color: white;
  padding: 20px 0;
}

#jumbotron .info_jumbotron h1{
  font-size: 55px;
  margin: 0;
}

#jumbotron .info_jumbotron p{
  font-size: 20px;
  color: #bcd7ff;
}

#jumbotron .create_account{
  background: white;
  padding: 5px 20px;
  border-radius: 5px;
}

#jumbotron .create_account h2{
  font-weight: bold;
}

#jumbotron .create_account h2:nth-child(2){
  color: #0069ff;
  padding-bottom: 10px;
}

#jumbotron .create_account input{
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 0;
}

#jumbotron .create_account  input::-webkit-input-placeholder{
  font-weight: 500;
}

#jumbotron .create_account button{
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 8px 0;
}

#jumbotron .create_account img{
  width: 20px;
  margin: 0 10px;
  float: left;
}

#jumbotron .create_account .btn span{
  margin-right: 40px;
  font-weight: bold;
}

#jumbotron .create_account h5{
  font-size: 15px;
  padding: 15px;
  font-weight: bold;
}

#jumbotron .create_account h5 a{
  text-decoration: underline;
}

/* main */

/* main section 1 */

#main_section_1{
  background: #F3F5F9;
  padding: 25px 0;
}

#main_section_1 .row{
  text-align: center;
  padding: 0 15px;
}

#main_section_1 .row h6{
  text-transform: uppercase;
  margin: 0;
  color: #b5b5b5;
}

#main_section_1 .m_section1_img .col-xs-6,
#main_section_1 .m_section1_img .col-sm-2,
#main_section_1 .m_section1_img .col-lg-2 {
  line-height: 165px;
  padding: 10px;
}

#main_section_1 .m_section1_img img{
  max-width: 100%;
}

#main_section_1 .row a{
  margin: 0;
  color: #2c7ff5;
  font-weight: bold;
}

#main_section_1 .row i{
  padding: 0 10px;
}

/* main section 2 */

#main_section_2{
  padding: 50px 0;
}

#main_section_2 h2{
  font-size: 45px;
  font-weight: bold;
}

#main_section_2 .row > p{
  color: #525151;
  font-size: 23px;
}

#main_section_2 .info{
  margin: 45px auto;
}

#main_section_2 [class*='col-'] {
  padding: 0 5px;
}

#main_section_2 .info .list-group{
  list-style: none;
  border-left: 1px solid grey;
}

#main_section_2 .info .list-group li{
  padding: 10px 7px;
}

#main_section_2 .info .list-group a{
  color: grey;
  font-size: 20px;
}

#main_section_2 .info img{
  padding: 10px 5px;
}

#main_section_2 .info span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}

#main_section_2 .info p{
  color: #525151;
  font-size: 20px;
}

/* main section 3 */

#main_section_3{
  background: #F3F5F9;
  /* height: 300px; */
  text-align: center;
  padding: 25px 0;
}

#main_section_3 [class*='col-'] {
  padding: 0 5px;
}

#main_section_3 img{
  width: 100%;
  margin-bottom: 25px;
}

#main_section_3 .progect > h3{
  font-size: 30px;
}

#main_section_3 .progect > p{
  font-size: 22px;
  padding: 0 10px 20px;
  color: #525151;
}

#main_section_3 .col-lg-2 i{
  font-size: 35px;
  line-height: 500px;
  padding: 5px 10px;
}

#main_section_3 .text-right i{
  color: black;
}

#main_section_3 span{
  display: block;
  font-size: 15px;
  font-weight: bold;
}

#main_section_3 i{
  font-size: 8px;
}








/*  */
